---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Author from "src/components/Author.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="👽 Blog" description="blog page list">
  <main>
    <section class="flex flex-col gap-4">
      {
        posts.map(post => (
          <div class="prose-img:m-0 prose-h3:mb-1 prose-h3:mt-0">
            <a href={`/${post.slug}/`}>
              <div class="flex flex-col space-y-2 rounded-lg shadow-lg dark:bg-darkBg/80 bg-lightBg/30">
                <img
                  class="w-full h-24 rounded-t-lg object-cover"
                  src={`/posts/${post.data.heroImage}`}
                  alt={post.data.title}
                />
                <div class="px-4 pb-4 pt-2">
                  <a href={`/${post.slug}/`} class="no-underline">
                    <h3 class="line-clamp-2 transition duration-300 hover:text-sky-600 dark:hover:text-sky-500">
                      {post.data.title}
                    </h3>
                  </a>
                  <p class="sm:line-clamp-3 line-clamp-2">
                    {post.data.description}
                  </p>
                  <div class="flex items-center space-x-2 text-sm">
                    <FormattedDate date={post.data.pubDate} />
                    <span>•</span>
                    <Author author={post.data.author} />
                  </div>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </section>
  </main>
</BaseLayout>
